---
layout: home
classes: wide
author_profile: true
feature_row_1:
  - image_path: "/assets/images/2025-07-27-The_Azure_Developers_Superpower_azd_CLI/2025-07-27-The_Azure_Developers_Superpower_azd_CLI_intro_slide.jpg"
    alt: "2025-07-27-fabio-cannas-the-azure-developers-superpower-azd-cli"
    title: "The Azure Developer's Superpower: azd CLI"
    excerpt: "Following is the content of my session at the Azure Meetup Casteddu, held on July 23, 2025, at Sa Manifattura, Cagliari."
    url: "/2025/07/27/The_Azure_Developers_Superpower_azd_CLI.html/"
    btn_label: "Read more"
    btn_class: "btn--primary" 
feature_row_2:
  - image_path: "/assets/images/2026-01-19/infrastructure-as-code-su-azure-facciamo-chiarezz_cannas_1120583_banner.jpeg"
    alt: "infrastructure-as-code-su-azure-facciamo-chiarezz_cannas_1120583_banner"
    title: "Global Azure Veneto 2026 - Fabio Cannas - Infrastructure as Code su Azure: facciamo chiarezza."
    excerpt: "Infrastructure as Code su Azure: Bicep, Terraform, ARM templates, tool emergenti. Quale scegliere e perché? Facciamo chiarezza."
    url: "/2026/01/19/fabio-cannas-global-azure-veneto-2026-infrastructure-as-code-on-azure-session"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row_3:
  - image_path: "/assets/images/2026-01-30/fabio-cannas-azure-meetup-veneto-from-migration-to-modernization-discover-azure-database-migration-service.jpeg"
    alt: "from-migration-to-modernization-discover-azure-database-migration-service"
    title: "[VIDEO] Azure Meetup Veneto - Fabio Cannas - From migration to modernization, discover Azure Database Migration Service"
    excerpt: "Whether you're planning your first cloud migration or looking to evolve an already migrated infrastructure, this session will provide you with insights to transform migration into an opportunity for innovation."
    url: "/2026/01/30/fabio-cannas-azure-meetup-veneto-from-migration-to-modernization-discover-azure-database-migration-service"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row_4:
  - image_path: "/assets/images/2025-12-23/Meetup4Xmas-2025.jpg"
    alt: "meetup4xmas-2025"
    title: "[VIDEO] Meetup4Xmas 2025 - Chiacchierata natalizia tra Meetup (Torino, Casteddu, Veneto)"
    excerpt: "Con questo crossover abbiamo chiuso l'anno dei Meetup. Abbiamo parlato delle novità che ci ha portato questo 2025 e di cosa ci è, o non ci è, piaciuto."
    url: "/2025/12/23/meetup4xmas-2025/"
    btn_label: "Read more"
    btn_class: "btn--primary"
---
{% include feature_row id="feature_row_3" type="left" %}
{% include feature_row id="feature_row_2" type="left" %}
{% include feature_row id="feature_row_4" type="left" %}
{% include feature_row id="feature_row_1" type="left" %}

